{#{% extends 'base.html' %}#}
<html lang="en">
    <body>
        <nav>
            <ul class="nav">
                <li><a href="/">首页</a></li>
                <li><a href="{% url 'add_book' %}">发布图书</a></li>
                <li><a href="{% url 'batch_book_in' %}">批量入库</a></li>
                <li><a href="{% url 'batch_book_out' %}">批量出库</a></li>
                <li><a href="{% url 'batch_import_book' %}">批量导入图书</a></li><br />
            </ul>
        </nav>
{#    主体表格，显示图书所有信息#}
    {% block content %}
        <P>搜索图书</P>
            <table border="1">
            <tr>
                <th>图书名称</th>
                <th>ISBN</th>
                <th>出版社</th>
                <th>作者</th>
                <th>标签</th>
                <th>可借状态</th>
            </tr>
            <tr>
                <form action="" method="post">
                <td><input type="text" name="book_name"></td>
                <td><input type="text" name="ISBN"></td>
                <td><input type="text" name="publisher"></td>
                <td><input type="text" name="author"></td>
                <td><input type="text" name="label"></td>
                <td><input type="text" name="can_borrow"></td>
                <td>
                    <input type="submit" name="search_book" value="搜索">
                </td>
                </form>
            </tr>
            </table>
        <p>现有图书</p>
            <table border="1">
            <tr>
                <th>图书ID</th>
                <th>图书名称</th>
                <th>ISBN</th>
                <th>出版社</th>
                <th>出版日期</th>
                <th>作者</th>
                <th>标签</th>
                <th>可借数量</th>
                <th>总数量</th>
                <th>可借状态</th>
            </tr>
            {% for book in Books %}
                <tr>
                <td>{{book.book_id}}</td>
                <td>{{book.book_name}}</td>
                <td>{{book.ISBN}}</td>
                <td>{{book.publisher}}</td>
                <td>{{book.publish_date}}</td>
                <td>{{book.author}}</td>
                <td>{{book.label}}</td>
                <td>{{book.current_number}}</td>
                <td>{{book.total_number}}</td>
                <td>{{book.can_borrow}}</td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id" value={{book.book_id}}>
                        <input type="submit" name="alter_book_info" value="编辑">
                    </form>
                <td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id" value={{book.book_id}}>
                        <input type="submit" name="delete_book" value="删除">
                    </form>
                <td>
                </tr>
{#            <p>{{book.book_name}},{{book.total_number}}</p>#}
            {% endfor %}
            </table>
    {% endblock %}
    </body>
</html>