{#{% extends 'base.html' %}#}

<body>
    <nav>
        <ul class="nav">
            <li><a href="/">首页</a></li>
            <li><a href="{% url 'add_user' %}">添加用户</a></li>
            <li><a href="{% url 'batch_import_user' %}">批量导入用户</a></li><br />
        </ul>
    </nav>
    {#    主体表格，显示图书所有信息#}
        {% block content %}
        <P>搜索用户</P>
            <table border="1">
            <tr>
                <th>姓名</th>
                <th>电话</th>
                <th>会员情况</th>
            </tr>
            <tr>
                <form action="" method="post">
                <td><input type="text" name="user_name"></td>
                <td><input type="text" name="tele"></td>
                <td><input type="text" name="user_type"></td>
                <td>
                    <input type="submit" name="search_user" value="搜索">
                </td>
                </form>
            </tr>
            </table>
        <p>用户</p>
            <table border="1">
            <tr>
                <th>用户ID</th>
                <th>姓名</th>
                <th>电话</th>
                <th>会员情况</th>
                <th>借阅图书数量</th>
            </tr>
            {% for user in Users %}
                <tr>
                <td>{{user.user_id}}</td>
                <td>{{user.user_name}}</td>
                <td>{{user.tele}}</td>
                <td>{{user.user_type}}</td>
                <td>{{user.book_number}}</td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id" value={{user.user_id}}>
                        <input type="submit" name="alter_user_info" value="编辑">
                    </form>
                <td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id" value={{user.user_id}}>
                        <input type="submit" name="borrow_book" value="借书">
                    </form>
                <td>
                <td>
                    <form action="" method="post">
                        <input type="hidden" name="id" value={{user.user_id}}>
                        <input type="submit" name="delete_user" value="删除">
                    </form>
                <td>
                </tr>
            {% endfor %}
            </table>
        {% endblock %}
</body>